name: push to Docker Hub
on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tfVersion: ['1.14.3']
    env:
      IMAGE_NAME: devanarchy/terraform-aws-cli:tf-${{ matrix.tfVersion }}
    steps:
      - uses: actions/checkout@v4
      - run: docker build --build-arg TF_VERSION=${{ matrix.tfVersion }} -t ${{ env.IMAGE_NAME }} .
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker push ${{ env.IMAGE_NAME }}
